body {
  padding: 0px;
  margin: 0px;
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h5 {
  color: #e2874a;
}
#title {
  font-size: 2.8em;
}
.colorOP {
  color: #a9aaae;
}
#valor {
  display: flex;
}
.flex {
  display: flex;
}
#headerContent {
  width: 80%;
  margin: 0px auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blocosHeader {
  display: flex;
  align-items: center;
  gap: 30px;
}
#perfil {
  border: red solid 1px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
#imgPerfil {
  width: 100%;
}
#menuHorizontal {
  display: flex;
}
ul {
  list-style: none;
  gap: 20px;
}
a {
  text-decoration: none;
}

#container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}
main {
  width: 40%;
}
.products {
  width: 100%;
  border-radius: 20px;
}
#navImagens {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.subImagens {
  width: 19%;
  border-radius: 10px;
  cursor: pointer;
}
aside {
  width: 50%;
}
#container-compras{
    justify-content: space-between;
}
#compras {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 20%;
}
#carrosel{
    position: absolute;
    width: 30%;
    min-width: 450px;
    margin: 5% 30%;
    visibility: hidden;
}
.botaoCarrosel{
    border: red solid 1px;
    background-color: white;
    width: 10px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#areaCarrosel{
  display: flex;
  align-items: center;
}
#next{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: 95%;
  border: none;
  cursor: pointer;
}
#previus{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: -4%;
  position: absolute;
  border: none;
  cursor: pointer;
}
