body {
  padding: 0px;
  margin: 0px;
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#headerContent {
  width: 80%;
  margin: 0px auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blocosHeader {
  display: flex;
  align-items: center;
  gap: 30px;
}
#perfil {
  border: red solid 1px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
#imgPerfil {
  width: 100%;
}
#menuHorizontal {
  display: flex;
}
ul {
  list-style: none;
  gap: 20px;
}
a {
  text-decoration: none;
}

#container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}
main {
  width: 40%;
}
.products {
  width: 100%;
  border-radius: 20px;
}
#navImagens {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.subImagens {
  width: 19%;
  border-radius: 10px;
  cursor: pointer;
}
aside {
  width: 50%;
}
